/* base font, remove padding/margin/borders */
	body,H1,td,table{
		font-family: arial;
		padding: 0;
		margin: 0;
		border: none;
		font-size: 12px;
		border-spacing: 0;
	}
	#content
	{
		background-color: #494949;
		/*padding: 1px 8px 1px 8px;*/
	}
	#main
	{
		/*width: 1200px;*/
		margin: 20px;
	}
	.neg-area-text
	{
		font-size: small;
		padding: 7px 0 0 8px;
		color: white;
	}
	.neg-area-text a
	{
		color: white;
	}
	.neg-area-text span
	{
		font-weight: bold;
	}
	/* header */
	H1
	{
		padding-left: 10px;
		font-size:28px;
		font-weight: normal;
		color: white;
		background-color: #772800;
	}
	H1 b
	{
		font-size: 33px;
	}
	/* section */
	.section
	{
		background-color: #FFEAC0;
		min-height: 300px;
	}
	.section .tab
	{
		font-size: 13px;
		text-align: left;
		font-weight: bold;
		padding-left: 10px;
		padding-top:10px;
		background-color: #FCC964;
	}
	.section .tab span
	{
		vertical-align: middle;
		text-align: center;
		padding:  5px;
		padding-left: 10px;
		padding-right: 10px;
		background-color: #FFEAC0;
	}
	.section .body
	{
		padding: 5px;
	}
	.section .tab ul
	{
		padding: 0;
		margin: 0;
	}
	.section .tab li
	{
		float: left;
		padding: 3px;
		background-color: #E6C788;
		color: #958663;
		list-style-type:none;
		margin-right: 2px;
		padding: 2px 6px 2px 6px;
	}
	.section .tab li.selected
	{
		color: black;
		background-color: #FFEAC0;
	}
	/* overall table */
	.table-list
	{
		width: 100%;
		font-size: 13px;
	}
	/* table header */
	.table-list thead tr
	{
		font-weight: bold;
	}
	/* cell styles */
	.table-list tbody tr td
	{
		padding: 2px;
	}
	.table-list tbody tr td.first
	{
		padding-left: 15px;
	}
	/* row styles */
	.selectable tbody tr, .selectable li
	{
		cursor: pointer;
	}
	tr.odd
	{
		background-color: #FFE6B3;
	}
	/* row selection */
	.table-list tbody tr td
	{
		border-top: 1px solid #FFEAC0;
		border-bottom: 1px solid #FFEAC0;
	}
	thead td
	{
		font-weight: bold;
	}
	td.selected
	{
		background-color: #FFD074;
		border: 1px solid #FFD074;
	}

	.tabPage
	{
		display: none;
	}
	/* Overall Usage */
	.usage-value
	{
		font-weight: bold;
		font-size: 21px;
		color: grey;
		padding-bottom: 6px;
	}
	.usage-name
	{
		font-weight: bold;
		font-size: 18px;
		padding-left: 8px;
		padding-bottom: 6px;
	}

	.sql-lines
	{
		padding: 0 3px 0 3px;
		border-right: 1px solid #B1C8F1;
		text-align: right;
		color: #B1C8F1;
		font-size: 13px;
	}
	.sh_sql
	{
		padding-left: 5px;
	}
	.background
	{
		background-color: #FFEAC0
	}